node_modules
auth_info_baileys
.wwebjs_auth
yt-dlp.exe
video_*.mp4
video_*.mp4.part
*.log
.DS_Store
error.log
debug.js
keys.txt
.gemini
package-lock.json
final_check.log
test_regex.js
settings.json
yt-dlp.exe.old
